@import 'reset';
@import "../../node_modules/font-awesome/scss/font-awesome";

.carousel-window-panel {
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;

  > div:first-child {
    display: flex;
    transition: transform .3s ease;
    width: 100%;

    > div {
      color: #ffffff;
      display: table;
      float: left;
      font-size: 8em;
      height: 180px;
      line-height: 180px;
      text-align: center;
      width: inherit;

      &:nth-of-type(1),
      &:nth-of-type(5) {
        background-color: #f3ae4e;
      }
      &:nth-of-type(2),
      &:nth-of-type(6) {
        background-color: #d96383;
      }
      &:nth-of-type(3) {
        background-color: #717ecd;
      }
      &:nth-of-type(4) {
        background-color: #4ab471;
      }
    }
  }

  > div:last-child {
    align-items: center;
    bottom: 10px;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    width: 100%;

    > span {
      background-color: rgba(255, 255, 255, .43);
      border-radius: 100%;
      height: 10px;
      margin: 0 10px;
      opacity: .2;
      width: 10px;
      cursor: pointer;
    }
  }
}

.carousel-index-picker-active {
  background-color: rgba(255, 255, 255, .63) !important;
  opacity: 1 !important;
}

.carousel-dashboard {
  color: rgba(255,255,255,0.63);
  position: absolute;
  top: calc(50% - (3.5em / 2) - 2px);

  > i {
    cursor: pointer;
    font-size: 3.5em;
  }
}

.carousel-button-prev {
  left: 10px;
}

.carousel-button-next {
  right: 10px;
}
